.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 2s;
}
.ex-1-square:hover {
  background-color: red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-2-square:active {
    width: 100%;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 1s;
}
.ex-3-square:hover {
    border-radius: 50%;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}
.ex-4-square:hover {
  opacity: 0;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 2s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover {
    filter: grayscale(100%);
}
.ex-7-img, .ex-8-img {
    transition: 2s;
}
.ex-7-img:hover {
    filter: grayscale(60%) sepia(50%);
}
.ex-8-img:hover {
    filter: grayscale(60%) sepia(50%);
    border-radius: 20px;
}
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 2s;
}
.ex-9-img:hover {
  filter: grayscale(60%) sepia(50%);
  border-radius: 20px;
  transform: scale(1.5);
}
.ex-10-icon {
    font-size: 60px;
    animation: spin 1s infinite linear;
}
@keyframes spin {
  0%{
    transform: rotate(360deg);
  }
}
.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover {
    animation: spinabit 1s linear;
}
@keyframes spinabit {
  0%{
    transform: rotate(0);
  }
  80%{
    transform: rotate(320deg);
  }
  100%{
    transform: rotate(0);
  }
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
